[Unit]
Description=Notifications D-Bus proxy

[Service]
ExecStart=/usr/bin/xdg-dbus-proxy \
  unix:path=%t/bus \
  %t/dbus-notifications.sock \
  --filter \
  --talk=org.freedesktop.DBus \
  --call=org.freedesktop.Notifications=org.freedesktop.Notifications.Notify@/org/freedesktop/Notifications \
  --call=org.freedesktop.Notifications=org.freedesktop.Notifications.GetServerInformation@/org/freedesktop/Notifications
Restart=on-failure

[Install]
WantedBy=default.target
